body {
    font-family: "Noto Sans Lao", serif;
    font-weight: 500;
}

.typing-container {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.cursor {
    display: inline-block;
    width: 4px;
    background-color: black;
    animation: blink 0.75s step-end infinite;
    position: absolute;
    left: 0;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}